<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-justify-content-center">
  <form #form="ngForm">

    <ion-item>
      <ion-input placeholder="Email" required type="text" name="user" [(ngModel)]="loginInfo.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" required type="text" name="password" [(ngModel)]="loginInfo.password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="emailLogin(form)">Sign In</ion-button>
        <ion-button expand="block" (click)="googleLogin()">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <a class="small-text" routerLink="/register">¿No tienes una cuenta? Registrate</a>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
