<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title slot="start" style="padding-left: 2px;">
      <img style="width: 4.5rem; margin-left: -15px; margin-top: 1rem;" alt="logo" src="assets/img/logo2.svg"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row login-container container display-center">
    <div class="col-12" style="padding: 0 20px;">
      <div class="display-center">
        <h3 class="w-100">Registrate</h3>
      </div>
    </div>

    <div class="col-12" style="padding: 0 20px;">
      <div>
        <form #form="ngForm">
          <mat-form-field class="w-100" appearance="fill" style="margin-bottom: 0 !important;">
            <mat-label>Nombre completo</mat-label>
            <input matInput name="email" placeholder="Correo" [(ngModel)]="registerInfo.name" required autocomplete="off">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill" style="margin-bottom: 0 !important;">
            <mat-label>Correo</mat-label>
            <input matInput name="email" placeholder="Correo" [(ngModel)]="registerInfo.email" required autocomplete="off">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill" style="margin-bottom: 0 !important;">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" name="passwoord" placeholder="Contraseña" [(ngModel)]="registerInfo.password" required autocomplete="off">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill" style="margin-bottom: 0 !important;">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" name="confirmPasswoord" placeholder="Confirmar contraseña" [(ngModel)]="registerInfo.confirm_password" required autocomplete="off">
          </mat-form-field>

          <button class="login-button" (click)="registerEmail(form)">Registrarse</button>
        </form>

        <p class="w-100 forgot-label" routerLink="/login">¿Ya tienes una cuenta? Inicia sesión</p>
      </div>
    </div>
  </div>
</ion-content>


