<ion-header [translucent]="true" mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      My Work
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-list-header mode="ios" class="ion-margin-bottom">
      <h5>Tareas Pendientes</h5>
    </ion-list-header>

    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item lines="inset" [routerLink]="['/details', todo.id]">
        <ion-label>
          <h2>{{todo.task}}</h2>
          <p>I'm a big deal.</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" color="danger">
    <ion-fab-button routerDirection="forward" color="danger" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
