<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard-menu-tabs/project-detail" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>{{headerTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- <ion-list lines="full">
    <ion-item *ngIf="todo">
      <ion-input required type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-input required type="number" placeholder="Priority" [(ngModel)]="todo.priority"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Guardar</ion-button> -->

  <div class="nr-container" *ngIf="todo">
    <h2 class="nr-title w-100">Nueva tarea</h2>
    <h4 class="nr-subtitle">Llena los campos para crearla</h4>
    <div class="w-100 mt-2r">
      <form class="example-form mt-2r">
        <mat-form-field class="w-100">
          <mat-label>Titulo</mat-label>
          <input matInput placeholder="Titulo del proyecto" [(ngModel)]="todo.title" name="tasknam" required>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Descripción</mat-label>
          <!-- <input matInput placeholder="Titulo del proyecto" [(ngModel)]="todo.description" name="tasknam" required> -->
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" type="text" autocomplete="off" [maxLength]="400" name="description"
                    value="_message" [(ngModel)]="todo.description">
        </textarea>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Prioridad</mat-label>
          <mat-select name="priority" [(ngModel)]="todo.priority" required>
            <mat-option value="3">Alta</mat-option>
            <mat-option value="2">Media</mat-option>
            <mat-option value="1">Baja</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <ion-row>
      <ion-col style="padding: 0 !important;" size="6" *ngFor="let image of images">
        <ion-card style="margin-top: 0 !important;">
          <img class="preview-img" [src]="image | imageSanitizer" alt="img2" />
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="button-container display-center mt-0" style="margin-bottom: 5rem; margin-top: 1rem !important;">
      <ion-button class="new-report-button primary" (click)="saveTodo()">Aceptar</ion-button>
      <ion-button class="new-report-button secondary mr-0" routerLink="/dashboard-menu-tabs/projects">Cancelar</ion-button>
    </div>
  </div>

  <div class="row button-container-fixed">
    <div class="col-12 text-center m-t-20-r display-center">
      <button class="btn upload-button" id="preapproval_start" (click)="newTicket()">
        Adjuntar imagen
      </button>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="todoId" (click)="deleteTodo()">
    <ion-fab-button routerLink="/home" routerDirection="forward" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
