ion-list {
  margin-top: 2rem;
}

.nr-container {
  padding: 1rem 1.6rem;
  background-color: white;
}

.nr-title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif !important;
}

.nr-subtitle {
  font-weight: 600;
  font-size: 14px;
}

.new-report-button {
  width: 8.5rem;
  font-weight: 700;
  --box-shadow: none !important;
}

.new-report-button.primary {
  --background: #1d2542;
}

.new-report-button.secondary {
  --color:  #1d2542;
  --background: white;
  --border-color: #1d2542;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.button-container {
  display: flex;
  margin-top: 1rem;

  ion-button {
    text-transform: capitalize !important;
    margin-right: 1rem;
  }
}


.button-container-fixed {
  position: fixed;
  bottom: 3.5rem;
  left: 0;
  width: 100vw;
  padding-bottom: 8px;
  padding-top: 8px;
  margin: 0!important;
  height: 72px;
  z-index: 100;
  background-color: rgba(255,255,255,.98);
  text-align: center;
  box-shadow: 0 -2px 3px 0 rgba(201,201,201,.2);
}

.upload-button {
  background-color: #1d2542;
  color: white;
  width: 100%;
  min-height: 2.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}
